---
import { event } from "../content/event";
import Countdown from "@/components/Countdown";

const targetISO = `${event.dateISO}T${event.start}:00-03:00`;
---

<section id='hero' data-section class='section scroll-mt-20'>
  <div class='container text-center pt-10'>
    <div class='flex flex-col md:flex-row items-center justify-center gap-4'>
      <img
        src='/logo.webp'
        alt='Olimpiada de Asadores'
        class='h-32 md:h-48 mb-2 md:mb-0'
      />
      <h1
        class='font-display text-2xl md:text-4xl leading-tight text-center md:text-left'
      >
        Olimpiada <span class='block'>de</span>
        <span class='font-title tracking-wide block text-5xl md:text-7xl'
          >Asadores</span
        >
        <span class='text-2xl text-black font-ui font-bold'> 2.ª Edición </span>
      </h1>
    </div>
    <h3 class='text-5xl font-title block py-2'>Sábado 27 de septiembre</h3>
    <h3 class='font-display'>Reprogramación</h3>
    <h3 class='mt-3 text-2xl'>
      {event.start}hs
    </h3>
    <p>
      {event.locationName} ({event.address})
    </p>

    <!-- COUNTDOWN -->
    <Countdown client:visible target={targetISO} />

    <div
      class='mt-5 flex flex-col sm:flex-row items-center justify-center gap-3'
    >
      <a href='#entradas' class='btn-primary w-full sm:w-auto text-center'
        >Comprar entradas</a
      >
      <a href='#competencias' class='underline underline-offset-4'
        >Ver competencias</a
      >
    </div>
  </div>
</section>
